html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; font:normal 11px/22px Arial, sans-serif; }

#map_canvas {
  height: 50%;
  width: 100%;
}

#sv_canvas {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#controls {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 3;
}

#controls textarea {
  width:280px;
  height:190px;
  margin:0 auto;
  display:block;
  margin-top:10px;
}
